.margen_arriba_tabla{
    margin-top: 10px;
}

.margen_vertical{
    margin-top: 10px;
    margin-botton: 10px;
}

#scroll_ofertas{
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
}

#unidos {
  margin-botton: 3px;
}